---
title: brandymint — we build web, mobile and backend systems
body_class: welcome index
---

%article
  = partial 'welcome/welcome_block'
%article
  = partial 'welcome/what_we_do'
%article
  = partial 'welcome/projects'
%hr.mini
%article
  = partial 'welcome/partners'
%hr.mini
%article
  = partial 'welcome/contacts'
%section
  = partial 'shared/contact_form'

-#%article.welcome-project-convead

